<IfModule mod_rewrite.c>
    Options -Multiviews +FollowSymLinks
    RewriteEngine On
    RewriteBase /
    
    # Si la solicitud es para el directorio raíz, redirigir a public/
    RewriteRule ^$ public/ [L]

    # Para cualquier otra ruta, redirigir a public/
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Configuración de permisos
<Directory />
    Options FollowSymLinks
    AllowOverride All
</Directory>